{{ header }}

{#<?php print_r($data); ?>#}
<?php phpinfo(); ?>

<div id="product-search" class="container" xmlns="http://www.w3.org/1999/html">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>Тестовая страница</h2>
        <h1>Products</h1>

<!-- Тут гуглить как работает TWIG шаблонизатор -->

      <!--Пример вызова переменных из data -->
        {% for category in categories %}
            <ul style="font-weight: bold;">{{ category.name }}</ul>
            <ul>
                {% for product in products[category.category_id] %}
                    <li>{{ product.name }}</li>
                {% endfor %}
            </ul>
        {% endfor %}

    {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
